.example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }



  .cart {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 200px;
      margin: auto;
      text-align: center;
  }