/* Structure */
.container {
  display: flex;
  flex-direction: column;
}

/* Filter */
.form {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}


/* Mat table */
.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
  flex: 1 1 20%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2){
  flex: 1.2 1.2 25%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3){
  flex: .8 .8 15%;
}

.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4){
  flex: .8 .8 15%;
}

.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5){
  flex: .8 .8 15%;
}

.mat-cell:nth-child(6),
.mat-header-cell:nth-child(6){
  flex: .4 .4 8%;
}

.mat-cell:nth-child(7),
.mat-header-cell:nth-child(7){
  flex: .4 .4 8%;
}

.mat-cell:nth-child(8),
.mat-header-cell:nth-child(8){
  flex: .4 .4 8%;
}


.footer {
  position: static;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}