  <div class="container-fluid">
    <div class="card border-dark">
        <div class="card-header">
            <div class="d-table-cell w-100">
                <input class="form-control form-control-sm" #filter placeholder="Search" />
            </div>
            <div class="d-table-cell align-middle">
                <button mat-icon-button (click)="loadData()" aria-placeholder="Refresh">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>
        </div>
        <mat-table #table [dataSource]="dataSource" matSort class="">
            
            <ng-container matColumnDef="MobileNumber" style="overscroll-behavior-block: initial;">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                  <strong><b>Mobile Number</b></strong>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.mobileNumber}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="FirstName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong><b>First Name</b></strong>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.firstName}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="LastName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  <strong><b>Last Name</b></strong>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.lastName}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Email">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  <strong><b>Email</b></strong>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.email}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="JoiningDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  <strong><b>Joining Date</b></strong>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.joiningDate}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="View">
              <mat-header-cell *matHeaderCellDef>
                <strong><b>View</b></strong>
              </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button mat-icon-button color="accent" (click)="viewUser(viewUserModel, row)">
                      <i class="fa fa-eye" aria-hidden="true" style="padding-right: 0%; padding-left: 0%;"></i>
                  </button>
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="Edit">
              <mat-header-cell *matHeaderCellDef>
                <strong><b>Edit</b></strong>
              </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button color="accent" (click)="editUser(editUserModel, row)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="padding-right: 0%; padding-left: 0%;"></i>
                    </button>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Delete">
              <mat-header-cell *matHeaderCellDef>
                <strong><b>Delete</b></strong>
              </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button color="accent" (click)="deleteUser(deleteUserModel, row)">
                      <i class="fa fa-trash-o fa-lg" style="padding-right: 0%; padding-left: 0%;"></i>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
            <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
        </mat-card>

        <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
            <h2>No results</h2>
        </div>

      

        <div class="d-flex justify-content-between p-2">
          <mat-paginator showFirstLastButtons class="footer" [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50, 100]">
          </mat-paginator>
        </div>
    </div>
  </div>



<ng-template #viewUserModel let-modal>
  <div class="modal-header">
      <h5 class="modal-title" id="editProfileLabel">View User</h5>
      <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <div class="modal-body">
      <table class="table table-hover">
          <tbody>
              <tr>
                  <div class="row">
                      <div class="col-sm-5 col-md-5">
                          <label>Full Name</label>
                      </div>
                      <div class="col-sm-7 col-md-7">
                          <label>{{user.firstName}}</label>
                          <label>{{user.lastName}}</label>
                      </div>
                  </div>
              </tr>
              <tr>
                <div class="row">
                    <div class="col-sm-5 col-md-5">
                        <label>Gender</label>
                    </div>
                    <div class="col-sm-7 col-md-7">
                        <label>{{user.gender}}</label>
                    </div>
                </div>
            </tr>
              <tr>
                  <div class="row">
                      <div class="col-sm-5 col-md-5">
                          <label>Mobile Number</label>
                      </div>
                      <div class="col-sm-7 col-md-7">
                          <label>{{user.mobileNumber}}</label>
                      </div>
                  </div>
              </tr>
              <tr>
                  <div class="row">
                      <div class="col-sm-5 col-md-5">
                          <label>Email</label>
                      </div>
                      <div class="col-sm-7 col-md-7">
                          <label>{{user.email}}</label>
                      </div>
                  </div>
              </tr>
              <tr>
                  <div class="row">
                      <div class="col-sm-5 col-md-5">
                          <label>Joining Date</label>
                      </div>
                      <div class="col-sm-7 col-md-7">
                          <label>{{user.joiningDate}}</label>
                      </div>
                  </div>
              </tr>
              <tr>
                  <div class="row">
                      <div class="col-sm-5 col-md-5">
                          <label>Class Duration</label>
                      </div>
                      <div class="col-sm-7 col-md-7">
                          <label>{{user.classDurationdd}}</label>
                      </div>
                  </div>
              </tr>
              <tr>
                  <div class="row">
                      <div class="col-sm-5 col-md-5">
                          <label>Class Name</label>
                      </div>
                      <div class="col-sm-7 col-md-7">
                          <label>{{className}}</label>
                      </div>
                  </div>
              </tr>
              <tr>
                  <div class="row">
                      <div class="col-sm-5 col-md-5">
                          <label>Class Fee</label>
                      </div>
                      <div class="col-sm-7 col-md-7">
                          <label>{{classFee}}</label>
                      </div>
                  </div>
              </tr>
              <tr>
                  <div class="row">
                      <div class="col-sm-5 col-md-5">
                          <label>Discount Amount</label>
                      </div>
                      <div class="col-sm-7 col-md-7">
                          <label>{{user.discountAmount}}</label>
                      </div>
                  </div>
              </tr>
              <tr>
                  <div class="row">
                      <div class="col-sm-5 col-md-5">
                          <label>Active Status</label>
                      </div>
                      <div class="col-sm-7 col-md-7">
                          <label>{{user.activeStatusDD}}</label>
                      </div>
                  </div>
              </tr>
              <tr>
                  <div class="row">
                      <div class="col-sm-5 col-md-5">
                          <label>Fee Status</label>
                      </div>
                      <div class="col-sm-7 col-md-7">
                          <label>{{user.feesStatusdd}}</label>
                      </div>
                  </div>
              </tr>
              <tr>
                  <div class="row">
                      <div class="col-sm-5 col-md-5">
                          <label for="inputsm">Address</label>
                      </div>
                      <div class="col-sm-5 col-md-5">
                          <label>{{user.address}}</label>
                      </div>
                  </div>
              </tr>
          </tbody>
      </table>
  </div>
  <!-- <div class="modal-footer text-right">
      <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.close('Close click')">Close</button>
  </div> -->
</ng-template>


<ng-template #editUserModel let-modal>
  <div class="modal-header">
      <h5 class="modal-title" id="editProfileLabel">Update User</h5>
      <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <form (ngSubmit)="submit" #formControl="ngForm">
  <div class="modal-body">
          <div class="row">
              <div class="col-sm-4 col-md-4">
                  <small class="form-text text-muted"><b>Enter Full Name</b><i class="fa fa-asterisk text-danger"></i></small>
                  <div class="input-group mb-3" matColumnDef="firstName">
                      <input [(ngModel)]="user.firstName" name="firstName" class="form-control form-control-sm" placeholder="First Name" required>
                      <input [(ngModel)]="user.lastName" name="lastName" class="form-control form-control-sm" placeholder="Last name" required>
                  </div>
              </div>
              <div class="col-sm-4 col-md-4">
                  <small class="form-text text-muted"><b>Enter Mobile Number</b><i class="fa fa-asterisk text-danger"></i></small>
                  <div class="input-group mb-3">
                      <input [(ngModel)]="user.mobileNumber" name="mobileNumber" maxlength="10" minlength="10" class="form-control form-control-sm" placeholder="Mobile Number" autocomplete="" required disabled>
                  </div>
              </div>
              <div class="col-sm-4 col-md-4">
                  <small class="form-text text-muted"><b>Enter Email Address</b><i class="fa fa-asterisk text-danger"></i></small>
                  <div class="input-group mb-3">
                      <input [(ngModel)]="user.email" name="email" class="form-control form-control-sm" placeholder="Email" autocomplete="" required>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-4 col-md-4">
                  <small class="form-text text-muted"><b>Select Class Name</b><i class="fa fa-asterisk text-danger"></i></small>
                  <div class="form-group">
                      <select class="form-control form-control-sm" name="classNamedd" [(ngModel)]="user.classNamedd" required (change)="onChangeFetchClass($event.target.value)">
                          <option value="">Choose Class Name</option>
                          <option *ngFor="let lClass of classes; let i = index" [value]="classes[i].classId">
                              {{classes[i].className}}
                            </option>
                      </select>
                  </div>
              </div>
              <div class="col-sm-4 col-md-4">
                  <small class="form-text text-muted"><b>Select Class Duration</b><i class="fa fa-asterisk text-danger"></i></small>
                  <div class="form-group">
                      <select class="form-control form-control-sm" name="classDurationdd" [(ngModel)]="user.classDurationdd" required>
                          <option value="">Class Duration</option>
                          <option *ngFor="let classDuration of classDurations">{{classDuration}}</option>
                      </select>
                  </div>
              </div>
              <div class="col-sm-4 col-md-4">
                  <small class="form-text text-muted"><b>Active Status</b><i class="fa fa-asterisk text-danger"></i></small>
                  <div class="form-group">
                      <select class="form-control form-control-sm" [(ngModel)]="user.activeStatusDD" name="activeStatusDD" required>
                          <option value="">Choose Active Status</option>
                          <option value="Yes">Yes</option>
                          <option value="No">No</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-4 col-md-4">
                  <small class="form-text text-muted"><b>Enter Fee Amount</b><i class="fa fa-asterisk text-danger"></i></small>
                  <div class="input-group mb-3">
                      <input [(ngModel)]="user.feeAmount" name="feeAmount" class="form-control form-control-sm" required disabled>
                  </div>
              </div>  
              <div class="col-sm-4 col-md-4">
                  <small class="form-text text-muted"><b>Enter Discount Amount</b></small>
                  <div class="input-group mb-3">
                      <input [(ngModel)]="user.discountAmount" name="discountAmount" class="form-control form-control-sm" placeholder="Discount Amount" autocomplete=""/>
                  </div>
              </div>
              <div class="col-sm-4 col-md-4">
                  <small class="form-text text-muted"><b>Select Fee Status</b><i class="fa fa-asterisk text-danger"></i></small>
                  <div class="form-group">
                      <select class="form-control form-control-sm" name="feesStatusdd" [(ngModel)]="user.feesStatusdd" required>
                          <option value="">Choose Fee Status</option>
                          <option *ngFor="let feeStatus of feesStatus">{{feeStatus}}</option>
                      </select>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-sm-4 col-md-4">
                  <small class="form-text text-muted"><b>Enter Joining Date</b><i class="fa fa-asterisk text-danger"></i></small>
                  <div class="input-group mb-3">
                      <input [(ngModel)]="user.joiningDate" name="joiningDate" class="form-control form-control-sm" [matDatepicker]="picker" placeholder="Joining Date" autocomplete="" required readonly >
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                  </div>                  
              </div>
              <div class="col-sm-4 col-md-4">
                  <small class="form-text text-muted"><b>Enter Address</b><i class="fa fa-asterisk text-danger"></i></small>
                  <div class="input-group mb-3">
                      <textarea [(ngModel)]="user.address" name="address" class="form-control form-control-sm" placeholder="Address" autocomplete="" required></textarea>
                  </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <small class="form-text text-muted"><b>Select Gender</b><i class="fa fa-asterisk text-danger"></i></small>
                <div class="input-group mb-3">
                    <mat-radio-group class="example-radio-group" name="gender" [(ngModel)]="user.gender">
                        <mat-radio-button class="example-radio-button" *ngFor="let gender of genders" [value]="gender">
                          {{gender}}
                        </mat-radio-button>
                    </mat-radio-group>
                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                        <div *ngIf="f.gender.errors.required">Gender is require</div>
                    </div>
                </div>
            </div>
          </div>

          <div class="row">
              <div class="col-sm-6 col-md-6">
                  <div class="input-group mb-3">
                      
                  </div>
              </div>
              <div class="col-sm-6 col-md-6">
                  <div class="input-group mb-3">
                      
                  </div>
              </div>
          </div>
      
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.close('Close click')">Close</button> -->
    <button class="btn btn-outline-success btn-sm" [disabled]="!formControl.valid" (click)="submit(user)">Update</button>
  </div>
</form>
</ng-template>


<ng-template #deleteUserModel let-modal>
  <div class="modal-header">
      <h5 class="modal-title" id="editProfileLabel">Delete User</h5>
      <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <div class="modal-body">
      <div class="row">
          <div class="col-sm-6 col-md-6">
                <label for="inputsm">First Name</label>
            </div>
            <div class="col-sm-5 col-md-5">
                <label for="inputlg">{{user.firstName}}</label>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6">
                <label for="inputsm">Last Name</label>
            </div>
            <div class="col-sm-5 col-md-5">
                <label for="inputlg">{{user.lastName}}</label>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6">
                <label for="inputsm">Mobile Number</label>
          </div>
          <div class="col-sm-5 col-md-5">
                <label for="inputlg">{{user.mobileNumber}}</label>
          </div>
        </div>
  </div>
  <div class="modal-footer text-right">
        <button class="btn btn-outline-danger btn-sm" (click)="confirmDelete(user)">Delete</button>
        <!-- <button type="button" ngbAutofocus class="btn btn-outline-primary btn-sm" (click)="modal.close('Close click')">Cancel</button> -->
    </div>
</ng-template>
