<div class="animated fadeIn container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="card border-dark">
            <div class="card-header">
                <i class="fa fa-align-justify"></i>Create Note
                  <div class="card-header-actions">
                      <a href="#" [routerLink]="['/dashboard/notes/list']">
                          <small className="text-muted">View Notes</small>
                      </a>
                  </div>
              </div>
              <form [formGroup]="createNoteForm" (ngSubmit)="onSubmit()">
            <div class="card-body">
                
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <small class="form-text text-muted"><b>Enter Title</b><i class="fa fa-asterisk text-danger"></i></small>
                            <div class="input-group mb-3">
                                <input type="text" formControlName="Title" class="form-control form-control-sm" placeholder="Title" [ngClass]="{ 'is-invalid': submitted && f.Title.errors }" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <small class="form-text text-muted"><b>Enter Description</b><i class="fa fa-asterisk text-danger"></i></small>
                            <div class="input-group mb-3">
                                <input formControlName="Description" type="text" class="form-control form-control-sm" placeholder="Description" autocomplete="" [ngClass]="{ 'is-invalid': submitted && f.Description.errors }" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                          <small class="form-text text-muted"><b>Select Class Name</b><i class="fa fa-asterisk text-danger"></i></small>
                          <div class="form-group">
                              <select class="form-control form-control-sm" formControlName="classNamedd" [ngClass]="{ 'is-invalid': submitted && f.classNamedd.errors }">
                                  <option value="">Choose Class Name</option>
                                  <option *ngFor="let lClass of classes; let i = index" [value]="classes[i].classId">
                                    {{classes[i].className}}
                                  </option>
                              </select>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <small class="form-text text-muted"><b>Select Active Status</b><i class="fa fa-asterisk text-danger"></i></small>
                            <div class="form-group">
                                <select class="form-control form-control-sm" formControlName="NoteActiveDD" [ngClass]="{ 'is-invalid': submitted && f.NoteActiveDD.errors }">
                                    <option value="">Choose Active Status</option>
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                          <small class="form-text text-muted"><b>Select Note Type</b><i class="fa fa-asterisk text-danger"></i></small>
                          <div class="form-group">
                              <select class="form-control form-control-sm" formControlName="NoteTypeDD" [ngClass]="{ 'is-invalid': submitted && f.NoteTypeDD.errors }">
                                    <option value="">Choose Note Type</option>
                                    <option [value]="cType" *ngFor="let cType of classTypes">{{cType}}</option>
                              </select>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                          <small class="form-text text-muted"><b>Enter URL</b><i class="fa fa-asterisk text-danger"></i></small>
                          <div class="input-group mb-3">
                              <input type="text" formControlName="NoteUrl" class="form-control form-control-sm" placeholder="Note Url" autocomplete="" [ngClass]="{ 'is-invalid': submitted && f.NoteUrl.errors }" />
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <small class="form-text text-muted"><b>Select Start Date</b><i class="fa fa-asterisk text-danger"></i></small>
                            <div class="input-group mb-3">
                                <input type="text" formControlName="NoteStartDate" class="form-control form-control-sm" [matDatepicker]="NoteStartDatePicker" placeholder="Note Start Date" autocomplete="" [ngClass]="{ 'is-invalid': submitted && f.NoteStartDate.errors }" readonly>
                                <mat-datepicker-toggle matSuffix [for]="NoteStartDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #NoteStartDatePicker></mat-datepicker>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                          <small class="form-text text-muted"><b>Select End Date</b><i class="fa fa-asterisk text-danger"></i></small>
                          <div class="input-group mb-3">
                              <input type="text" formControlName="NoteEndDate" class="form-control form-control-sm" [matDatepicker]="NoteEndDatePicker" placeholder="Note End Date" autocomplete="" [ngClass]="{ 'is-invalid': submitted && f.NoteEndDate.errors }" readonly>
                              <mat-datepicker-toggle matSuffix [for]="NoteEndDatePicker"></mat-datepicker-toggle>
                              <mat-datepicker #NoteEndDatePicker></mat-datepicker>
                          </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <small class="form-text text-muted"><b>Select Creation Date</b><i class="fa fa-asterisk text-danger"></i></small>
                            <div class="input-group mb-3">
                                <input type="text" formControlName="noteCreationDate" class="form-control form-control-sm" [matDatepicker]="noteCreationDatePicker" placeholder="Note Creation Date" autocomplete="" [ngClass]="{ 'is-invalid': submitted && f.noteCreationDate.errors }" readonly>
                                <mat-datepicker-toggle matSuffix [for]="noteCreationDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #noteCreationDatePicker></mat-datepicker>
                            </div>
                        </div>
                    </div>
                
            </div>
          <div class="card-footer text-right">
            <button class="btn btn-outline-success btn-sm" [disabled]="loading">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Create</button>
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="onReset()">Reset</button>
          </div>
        </form>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card border-dark">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Bootstrap Badges
            <small>contextual variations</small>
          </div>
          <div class="card-body">
            <span class="badge badge-primary">Primary</span>
            <span class="badge badge-secondary">Secondary</span>
            <span class="badge badge-success">Success</span>
            <span class="badge badge-danger">Danger</span>
            <span class="badge badge-warning">Warning</span>
            <span class="badge badge-info">Info</span>
            <span class="badge badge-light">Light</span>
            <span class="badge badge-dark">Dark</span>
          </div>
        </div>
        <div class="card border-dark">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Bootstrap Badges
            <small>pill badges</small>
          </div>
          <div class="card-body">
            <span class="badge badge-pill badge-primary">Primary</span>
            <span class="badge badge-pill badge-secondary">Secondary</span>
            <span class="badge badge-pill badge-success">Success</span>
            <span class="badge badge-pill badge-danger">Danger</span>
            <span class="badge badge-pill badge-warning">Warning</span>
            <span class="badge badge-pill badge-info">Info</span>
            <span class="badge badge-pill badge-light">Light</span>
            <span class="badge badge-pill badge-dark">Dark</span>
          </div>
        </div>
        <div class="card border-dark">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Bootstrap Badges
            <small>links</small>
          </div>
          <div class="card-body">
            <a href="#" class="badge badge-primary">Primary</a>
            <a href="#" class="badge badge-secondary">Secondary</a>
            <a href="#" class="badge badge-success">Success</a>
            <a href="#" class="badge badge-danger">Danger</a>
            <a href="#" class="badge badge-warning">Warning</a>
            <a href="#" class="badge badge-info">Info</a>
            <a href="#" class="badge badge-light">Light</a>
            <a href="#" class="badge badge-dark">Dark</a>
          </div>
        </div>
      </div>
    </div>
  </div>
