// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

@import '~@angular/material/prebuilt-themes/indigo-pink.css';


@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-indigo, 500);
$accent:  mat-palette($mat-pink, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$config: mat-typography-config();

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);


.cdk-global-scrollblock{
    position: static !important;
    width: initial !important;
    overflow-y: inherit !important;
}


.cdk-overlay-container{
    z-index: 2000;
}
